*

!src/
!src/**
!tools/
!tools/**
!vendor/
!vendor/**

!shaders/
!shaders/**

!audio/
!audio/**

!prefabs/**
!prefabs/
!manifest.json

build
.cache

!submodules/
!submodules/*
!CMakeLists.txt

!.gitignore
!.clang-tidy
!LICENSE
!start.sh
!*.md

*.bin
