*

!src/
!src/**
!tools/
!tools/**
!assets/
!assets/**
!vendor/
!vendor/**

!shaders/
!shaders/**

!submodules/
!submodules/*
!CMakeLists.txt

!LICENSE
!.gitignore
!.clang-tidy
!.clang-format

!CMakeLists.txt
!start.sh

!*.md
!*.pdf
