*

!src/
!src/**
!tools/
!tools/**
!assets/
!assets/**
!vendor/
!vendor/**

!shaders/
!shaders/**

build
.cache

!submodules/
!submodules/*
!CMakeLists.txt

!.gitignore
!.clang-tidy
!LICENSE
!start.sh
!*.md

*.bin
